* {
	font-family: Verdana, Tahoma, Georgia;
	line-height: 1.8;
}

$text-decor: none;
$border-style: 1px #000 solid;
$padding-style: 2px;

$black: #191919;
$grey: #DFE2DB;
$yellow: #FCF070;
$white: #fff;

$weight: bold;

p.aria-news-title {
	font-size: 2em;
	// margin-top: 50px;
	// padding: none;
	// position: relative;
	// right: 160px;
}

span.news-article-authors {
	margin-top: 10px;
	position: relative;
}

p.news-subheader {
	font-size: 1.17em;
	position: relative;
	margin-bottom: 8px;
}

.hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

a.index-project-link {
    color: $black;
    text-decoration: none;
    border-bottom: 1px #191919 solid;
    padding-bottom: 2px;
}

a.aria-link {
	@extend a.index-project-link;
}

a.aria-email-link {
	@extend a.index-project-link;
}

a.aria-link:focus, a.aria-link:hover {
	background: #000;
	color: #fff;
	font-weight: bold;
	text-decoration: none; 
	border-bottom: 1px #000 solid; 
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

@media(min-width:999px) {
    .side-nav {
        background-color: $yellow;
        border-radius: 0;
        border: 5px $grey solid;

        bottom: 0;
        font-weight: bold;
        left: 225px;
        margin-left: -200px;

        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 40px;

        position: fixed;
        top: 88px;        
        width: 240px;
    }

       .side-nav>li {
        border: 2px $grey solid;
    }

    .side-nav>li>a {
        color: $black;
        width: 240px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        // background-color: #000 !important;
        background-color: $black;
        color: $white;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    color: $black;
    display: block;
    padding: 10px 15px 10px 38px;
    
    text-decoration: none;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

a.navbar-brand {
    color: $black !important;
    font-weight: bold;
    left: 25px;
    position: relative;
}

.navbar-inverse {
	background-color: none;
}

#aria-content {
	margin-left: 90px !important;
	// margin-top: 50px;
	// position: relative;
	width: 80%;
}

.aria-tutorial {
	@extend #aria-content;
}

.aria-p-one {
	margin-top: 25px;
}

.aria-p-intro {
	margin-bottom: 20px;
}

.aria-further-reading {
	@extend .index-further-reading;
}

.aria-access-report {
	@extend .index-access-report;
}

p.aria-move-p {
	margin-top: 20px;	
}

.index-bookmark {
    border: 2px $grey solid;
    color: $black;
    margin-right: 10px;
}

.slight-right {
    position: relative;
    top: 319px;
    right: 50px;

}

.fix {
    position: relative;
    top: 35px;
    right: 80px;
}

