  #results {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    
    font-weight: bold;
    min-height: 150px;
    padding: 15px;  

    text-align: left;
    vertical-align: text-top;
    width: 70%;
  }

  @import 'normalize';

* {
    font-family: Verdana, Tahoma, Georgia;
    line-height: 1.8;
}

$text-decor: none;
$border-style: 1px #000 solid;
$padding-style: 2px;

$black: #191919;
$grey: #DFE2DB;
$yellow: #FCF070;
$white: #fff;

$weight: bold;


@media(min-width:768px) {
    .side-nav {
        background-color: $yellow;
        border-radius: 0;
        border: none;

        bottom: 0;
        left: 225px;
        margin-left: -200px;

        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 40px;

        position: fixed;
        top: 40px;        
        width: 200px;
    }

    .side-nav>li>a {
        width: 200px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    color: $black;
    display: block;
    padding: 10px 15px 10px 38px;
    
    text-decoration: none;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

input#input_field {
    border-radius: 5px;
}

.email-content {
    left: 5%;
    margin-top: 10%;
}

.email-mic-button {
    position: relative;
    left: 20px;
    margin-right: 10px;
    top: 20px;
}

.create-email-button {
    position: relative;
    right: 60px;
    top: 80px;
}

.img {
    border-radius: 5px;
}

p.p-twilio-left {
    margin-top: 30px;
}
