@import 'normalize';

$medium-teal: #558C89;
$light-teal: #74AFAD;
$solo-orange: #D9853B;
$solo-off-white: #ECECEA;

$main-font: Helvetica, sans-serif;

@mixin rounded-corners($radius: 10px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin left($left) {
	float: left;
}

@mixin right($right) {
	float: right;
}

$text-decor: none;
$border-style: 1px #000 solid;
$padding-style: 2px;
$link-visited: #000;

.index-project-link, a:visited {
	text-decoration: $text-decor;
	border-bottom: $border-style;
	padding-bottom: $padding-style;
	color: $link-visited;
}

// a:visited {
// 	color: $link-visited;
// } 

// @mixin standard-links($links) {
// 	text-decoration: none;
// 	border-bottom: 1px #000 solid;
// 	padding-bottom: 2px;
// }
