// @import 'normalize';

* {
	line-height: 1.5;
}

$medium-teal: #558C89;
$light-teal: #74AFAD;
$solo-orange: #D9853B;
$solo-off-white: #ECECEA;

$main-font: Helvetica, sans-serif;

@mixin rounded-corners($radius: 10px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin left($left) {
	float: left;
}

@mixin right($right) {
	float: right;
}

$text-decor: none;
$border-style: 1px #000 solid;
$padding-style: 2px;
$link-color: #000;

$back-color: #fff;
$weight: bold;


#body {
	// text-align: justify;
	margin-left: 40px;
}

.index-project-link {
	text-decoration: $text-decor;
	border-bottom: $border-style;
	padding-bottom: $padding-style;
	color: $link-color;
}

a:visited {
	background: $back-color;
	color: $link-color;
	font-weight: $weight;
	text-decoration: $text-decor;
	border-bottom: $border-style;
	padding-bottom: $padding-style; 
}

a:focus, a:hover, a:active {
	background: $link-color;
	color: $back-color;
	font-weight: $weight;
	text-decoration: $text-decor;
	border-bottom: $border-style;
	padding-bottom: $padding-style;
	padding: 10px;
}

li.descrip, li.descrip.home {
	margin-top: 30px;
}

.descrip {
	color: #fff;
	display: inline;
	list-style-type:none;
	// margin-top: 15%;
	padding-right: 40px;
}

nav.navbar.navbar-default.navbar-fixed-top.color {
	background-color: #191919;
}

// :not(.home) 

// a:visited {
// 	color: $link-visited;
// } 

// @mixin standard-links($links) {
// 	text-decoration: none;
// 	border-bottom: 1px #000 solid;
// 	padding-bottom: 2px;
// }
