.navbar-inverse {
	background-color: none;
}

.down {
	top: 15%;
}

.righty {
	float: right;
}

.fixed {
	position: fixed;
}

.center {
	text-align: center;
	margin: 0 auto;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
	height: none;
}
