@import 'normalize';

* {
    font-family: Verdana, Tahoma, Georgia;
    line-height: 1.8;
}

$text-decor: none;
$border-style: 1px #000 solid;
$padding-style: 2px;

$black: #191919;
$grey: #DFE2DB;
$yellow: #FCF070;
$white: #fff;

$weight: bold;


@media(min-width:999px) {
    .side-nav {
        background-color: $yellow;
        border-radius: 0;
        border: 5px $grey solid;

        bottom: 0;
        font-weight: bold;
        left: 225px;
        margin-left: -200px;

        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 40px;

        position: fixed;
        top: 88px;        
        width: 240px;
    }

    .side-nav>li {
        border: 2px $grey solid;
    }

    .side-nav>li>a {
        color: $black;
        width: 240px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        // background-color: #000 !important;
        background-color: $black;
        color: $white;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    color: $black;
    display: block;
    padding: 10px 15px 10px 38px;
    
    text-decoration: none;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

a.navbar-brand {
    color: $black !important;
    font-weight: bold;
    left: 25px;
    position: relative;
}

.navbar-inverse {
	background-color: none;
}

.twilio-mic {
    bottom: 10%;
    position: relative;
    // right: 640px;
    // text-align: center;
}

.demo {
    margin-top: 30px;
}

.down {
    // position: relative;
    top: 45%;
}

.relative {
    // position: relative;
    top: 88px;
}

.down {
	top: 15%;
}

.righty {
	float: right;
}

.fixed {
	position: fixed;
	top: 0;
}

.center {
	text-align: center;
	margin: 0 auto;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
	height: none;
}

ul.nav.navbar-nav.side-nav.border {
    top: 88px;
}

div#twilio-content {
	left: 90px;
	// margin-top: 70px;
	// position: relative;
    width: 80%;
}

div.twilio-to-index-tag {

}

span.navbar-brand {
   color: $black !important;
   font-weight: bold;
   left: 25px; 
   position: relative;
}

a.twilio-to-email-link {
    color: $black;
    text-decoration: none;
    border-bottom: 1px #191919 solid;
    padding-bottom: 2px;
}

a.return-index-link {
    @extend a.twilio-to-email-link;
}

// p.twilio-left {
//     margin-top: 20px;
// }

.twilio-sidebar-down {
    position: relative;
    top: 88px;
}

.twilio-further-reading {
    margin-top: 70px;
}

span.index-further-reading {
    font-weight: bold;
    font-size: 0.83em;
    position: relative;
    bottom: 10px;
}

span.index-access-report {
    font-weight: bold;
    font-size: 1.12em;
    position: relative;
    bottom: 5px;
}

span.twilio-further-reading {
    @extend span.index-further-reading;
}

span.twilio-report {
   @extend span.index-access-report;
}

p.twilio-move-p {
    margin-top: 20px;   
}

