<h1> Test </h1>

<h3> Welcome to my Capstone Project </h3>

<p> This demo is an overview of all my apps used for my Web Accessibility Project. The tutorials are included (either here or elsewhere), not sure at this point. </p>

<%= link_to "Check out my Speech to Mobile Text Twilio Demo", capstone_twilio_path %>

<%= link_to "Check out my Speech to Email Demo with Google API", capstone_email_path %>

<%= link_to "Check out my Bilingual Site", capstone_translate_path %>

<%= link_to "Check out my CSS Tips for Accessible Web Design", capstone_css_path %>