<h1> Test </h1>

<h3> Welcome to my Capstone Project </h3>

<p class="index-intro"> This demo is an overview of all my apps used for my Web Accessibility Project. The tutorials are included (either here or elsewhere), not sure at this point. </p>

<p> This description is a brief summary of my Twilio Demo. <span> Learn more about the </span>
<%= link_to "Speech to Mobile Text Twilio Demo", capstone_twilio_path %> <br>
</p>

<p> This description is a brief summary of my google demo. <span> Learn more about the </span>
<%= link_to "Speech to Email Demo with Google API", capstone_email_path %> <br>
</p>

<p> This description is a brief summary of my bilingual demo. <span> Learn more about the </span>
<%= link_to "Bilingual Site", capstone_translate_path %> <br>
</p>

<p> This description is a brief summary of my CSS demo. <span> Learn more about the </span>
<%= link_to "CSS Tips for Accessible Web Design", capstone_css_path %>
</p>